.boxes{

    position: absolute;
    height: 300px;
    width: 550px;
    font-size: 30px;
    font-weight: bolder;
    line-height: 150px;
}

.b1{

  background-image: url("istockphoto-1432955867-612x612.jpg");  
background-repeat: no-repeat;
margin-top: 50px;
z-index: 3;

}
.b1:hover{

    z-index: 14;
    height: 700px;
   
}

.b2{
    background-image: url("pngtree-abstract-technology-background-technical-electric-image_443494.jpg");  
    background-repeat: no-repeat;
    margin-top: 80px;
    z-index: 9;



}
.b2:hover{
    z-index: 16;
    height: 400/px;

}

.b3{
    background-image: url("depositphotos_90682062-stock-photo-technical-drawing-and-tools.jpg");  
    /* background-repeat: no-repeat; */
    margin-top: 100px;
    z-index: 6;



}
.b3:hover{

    z-index: 12;
    height: 450px;
    background-size: cover;
    margin: 0;
}